<app-menu></app-menu>

<div class="container">
    <div class="row mt-5" *ngIf="curso">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    Detalle Curso
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{curso.id}}</li>
                    <li class="list-group-item"><b>Codigo: </b>{{curso.codigo}}</li>
                    <li class="list-group-item"><b>Codigo Profesor: </b>{{curso.codigo_profesor}}</li>
                    <li class="list-group-item"><b>Nombre: </b>{{curso.nombre}}</li>
                    <li class="list-group-item"><b>Curso: </b>{{curso.curso}}</li>
                    <li class="list-group-item"><b>Numero Ciclo: </b>{{curso.numero_ciclo}}</li>
                    <li class="list-group-item"><b>Creditos: </b>{{curso.creditos}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                            class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </div>

        </div>
    </div>
</div>