<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://luiscavibotsample.s3-sa-east-1.amazonaws.com/assets/universidad/transparencia_home.png" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>SISTEMA GESTIÓN DE MATRICULAS - UNMSM</h1>
                <p >Unidad de Postgrado 2021</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">Ver más</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <img class="first-slide" src="https://luiscavibotsample.s3-sa-east-1.amazonaws.com/assets/investigacion/home/home_publicaciones.webp" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Cursos.</h1>
                <p >Registro, actualización y listado de los cursos disponibles de la Unidad de Postgrado</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">Ver más</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="https://luiscavibotsample.s3-sa-east-1.amazonaws.com/assets/investigacion/home/recursos_investigacion_home.webp" alt="Second slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Matrícula.</h1>
                <p>Servicio online para el registro de Matrículas</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">Ver más</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="https://4.bp.blogspot.com/-alyN_qXbcJ4/T2AfTfkDoBI/AAAAAAAAIq4/slCmghbauoM/s1600/zoomgraf.blogspot.com+timeline+face+%28279%29.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Usuarios.</h1>
                <p>Creacion de Usuarios (Alumnos, Docentes y Personal administrativo)</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">Ver más</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Manuel F.</h2>
            <p>Alumno de la Unidad de Postgrado UNMSM</p>
            <p><a class="btn btn-success" href="javascript:void(0)" role="button">Ver Perfil »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Erick H.</h2>
            <p>Alumno de la Unidad de Postgrado UNMSM</p>
            <p><a class="btn btn-success" href="javascript:void(0)" role="button">Ver Perfil »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Richard P.</h2>
            <p>Alumno de la Unidad de Postgrado UNMSM</p>
            <p><a class="btn btn-success" href="javascript:void(0)" role="button">Ver Perfil »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Waldo T.</h2>
            <p>Alumno de la Unidad de Postgrado UNMSM</p>
            <p><a class="btn btn-success" href="javascript:void(0)" role="button">Ver Perfil »</a></p>
          </div><!-- /.col-lg-4 -->          
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Niel H.</h2>
            <p>Alumno de la Unidad de Postgrado UNMSM</p>
            <p><a class="btn btn-success" href="javascript:void(0)" role="button">Ver Perfil »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Alexis P.</h2>
            <p>Alumno de la Unidad de Postgrado UNMSM</p>
            <p><a class="btn btn-success" href="javascript:void(0)" role="button">Ver Perfil »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

       

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="">Back to top</a></p>
        <p>© 201 UNMSM. · <a href="">Privacy</a> · <a href="">Terms</a></p>
      </footer>
</main>