<p>edit-user works!</p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form autocomplete="off" [formGroup]="forma" (ngSubmit)="actualizar()">
                <div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Codigo</label>
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Codigo" formControlName="codigo" value="{{usuario?.codigo}}">
                            <!-- <small *ngIf="codigoNoValido" class="text-danger">
                          codigo no valido
                        </small> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="tipoUsuario">Tipo Usuario</label>
                        <div class="col-3 ">
                            <select class="custom-select" id="tipoUsuario" formControlName="tipoUsuario" [class.is-invalid]="tipoUsuarioNoValido" value="{{usuario?.idTipoUsuario}}">
                            <option selected>Choose...</option>
                            <option value="1">Profesor</option>
                            <option value="2">Alumno</option>
                            <option value="3">Administrador</option>
                          </select>
                        </div>
                        <small *ngIf="tipoUsuarioNoValido" class="text-danger">
                      tipo usuario no valido
                    </small>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Apellido Paterno</label>
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Apellido Paterno" formControlName="apellidoPaterno" [class.is-invalid]="apellidoPaternoNoValido" value="{{usuario?.apePaterno}}">
                            <small *ngIf="apellidoPaternoNoValido" class="text-danger">
                              Ingrese su Apellido Paterno
                          </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">ApellidoMaterno</label>
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Apellido Materno" formControlName="apellidoMaterno" [class.is-invalid]="apellidoMaternoNoValido" value="{{usuario?.apeMaterno}}">
                            <small *ngIf="apellidoMaternoNoValido" class="text-danger">
                            Ingrese su Apellido Materno
                        </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Nombres</label>
                        <div class="col ">
                            <input class="form-control" type="text" placeholder="Nombres" formControlName="nombre" [class.is-invalid]="nombreNoValido" value="{{usuario?.nombres}}">
                            <small *ngIf="nombreNoValido" class="text-danger">
                            Ingrese 5 letras
                        </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Edad</label>
                        <div class="col-2">
                            <input class="form-control" type="number" placeholder="Edad" formControlName="edad" [class.is-invalid]="edadNoValido" value="{{usuario?.edad}}">
                            <small *ngIf="edadNoValido" class="text-danger">
                            Incorrecto campo edad
                        </small>
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label class="col-2 col-form-label">Sexo</label>
                        <div class="col-3">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input " type="radio" id="inlineRadio1" value="M" formControlName="sexo" [class.is-invalid]="sexoNoValido">
                                <label class="form-check-label " for="inlineRadio1">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="radio" id="inlineRadio2" value="F" formControlName="sexo" [class.is-invalid]="sexoNoValido">
                                <label class="form-check-label" for="inlineRadio2">Femenino</label>
                            </div>
                            <small *ngIf="sexoNoValido" class="text-danger">
                            Seleccione el Sexo
                        </small>
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="sexo">Sexo</label>
                        <div class="col-3 ">
                            <select class="custom-select" id="sexo" formControlName="sexo" [class.is-invalid]="sexoNoValido" value="{{usuario?.sexo}}">
                          <option selected>Choose...</option>
                          <option value="FEMENINO">Femenino</option>
                          <option value="MASCULINO">Masculino</option>
                        </select>
                        </div>
                        <small *ngIf="tipoUsuarioNoValido" class="text-danger">
                    tipo usuario no valido
                  </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Correo</label>
                    <div class="col">

                        <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido" value="{{usuario?.email}}">
                        <small *ngIf="correoNoValido" class="text-danger">
                        Ingrese el correo
                    </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col">
                        <button type="submit" class="btn btn-outline-primary btn-block">
                        Actualizar
                    </button>
                    </div>
                </div>
            </form>


            <hr>
            <pre>
Estado del formulario: {{ forma.valid }}
<br>
Status: {{ forma.status }}
</pre>

            <pre>

{{ forma.value | json }}

</pre>
        </div>
    </div>
</div>
