<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre editar</label>
                    <!-- <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="curso.codigo" required autocomplete="off"> -->
                </div>
                <div class="form-group">
                    <label for="precio">Codigo Profesor</label>
                    <!-- <input type="number" class="form-control" id="codigo_profesor" name="codigo_profesor" [(ngModel)]="curso.codigo_profesor" required autocomplete="off"> -->
                </div>
                <div class="form-group">
                    <label for="text">Nombre</label>
                    <!-- <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="curso.nombre" required autocomplete="off"> -->
                </div>
                <div class="form-group">
                    <label for="precio">Curso</label>
                    <!-- <input type="text" class="form-control" id="curso" name="curso" [(ngModel)]="curso.curso" required autocomplete="off"> -->
                </div>
                <div class="form-group">
                    <label for="text">Numero Ciclo</label>
                    <!-- <input type="number" class="form-control" id="numero_ciclo" name="numero_ciclo" [(ngModel)]="curso.numero_ciclo" required autocomplete="off"> -->
                </div>
                <div class="form-group">
                    <label for="precio">Creditos</label>
                    <!-- <input type="number" class="form-control" id="creditos" name="creditos" [(ngModel)]="curso.creditos" required autocomplete="off"> -->
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-edit"></i> Actualizar</button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                        class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>