<app-menu></app-menu>
<div class="container">
    <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo alumno</th>
            <th scope="col">Fecha y hora registro</th>
            <th scope="col">Periodo académico</th>
            <th scope="col">Ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let matricula of matriculas">
            <td>{{matricula.id}}</td>
            <td>{{matricula.codalumno}}</td>
            <td>{{matricula.fechahora_registro}}</td>
            <td>{{matricula.periodo_academico}}</td>
            <td><button class="btn btn-outline-primary" routerLink="/enrollment/{{matricula.id}}"><i class="far fa-eye"></i> Ver</button></td>
            <td ><button class="btn btn-outline-warning" routerLink="/enrollment/edit/{{matricula.id}}"><i class="far fa-edit"></i> Editar</button></td>
            <td ><button class="btn btn-outline-danger" (click)="borrar(matricula.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>
</div>