<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Login</b>UNMSM</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Iniciar Session</p>

            <form role="form" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" required email placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <label *ngIf="loginForm.submitted && loginForm.controls['email'].invalid" for="email" class="col-form-label text-danger"><i class="far fa-times-circle"></i></label>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="usuario.password" required placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <label *ngIf="loginForm.submitted && loginForm.controls['password'].invalid" for="password" class="col-form-label text-danger"><i class="far fa-times-circle"></i></label>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input [(ngModel)]="recordarme" type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
             Recordar mi usuario
            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div><a [routerLink]="['/auth/register']" class="text-center"> ¿Aún no es usuario? / Registrar</a></div>
            <div><a [routerLink]="['/welcome']" class="text-center"> Inicio</a></div>

        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.card -->
</div>